.meta {
  font-weight: bolder;
}

.ant-card-meta-title {
  font-size: 30px;
  color: rgb(99, 97, 97);
}

.date {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 50px;
  color: gray;
}

.card {
  width: 250px;
  height: 25vh;
  margin-top: 30px;
  text-align: center;
  border-radius: 10px;
}
.ant-card-head {
  background-color: #e65959;
  border-radius: 5px 5px 0 0;
}
.ant-card-head-disable {
  background-color: #aabecc;
  border-radius: 5px 5px 0 0;
}

.ant-card-meta {
  font-weight: bolder;
  height: 5vh;
  text-align: center;
}

.card-closed {
  width: 250px;
  height: 25vh;
  margin-top: 30px;
  text-align: center;
  border-radius: 10px;
}
